*
{
    background-color:white;
    height:100px;
    width:50px;

}#green
{
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: large;
    border: 50px solid green;
    border-radius: 50%;  
    background-color: green;
   
}
#yellow
{
    height: 20px;
    width: 20px;
    font-size: large;
    text-align: center;
    border: 50px solid yellow;
    border-radius: 50%; 
    background-color: yellow; 
   
    
    
   
}
#orange
{
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: large;
    border: 50px solid orange;
    border-radius: 50%; 
    background-color: orange; 
   
    

}
h1{
    text-transform: capitalize;
}
